<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Enter New Password</title>
</head>
<body>
    <form action="/New_password_created_sucessfully">
        <label for="NewPassword">Please Enter A New Password:  </label>
        <input type="password" id="NewPassword" name="new_password_for_python" required>
        <br><br>
        <label for="NewPasswordConfirm">Confirm Password:  </label>
        <input type="password" id="NewPasswordConfirm" name="new_password_confirm_for_python" required>
        <br><br>
        <button type="submit" value="create_new_password" name="create_new_password_action">Create New Password</button>
    </form>
</body>
</html>