<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
</head>
<body>
    <h1>Forgot Your Password?</h1>
    <form action="/send_email">
    <label for="email_for_password_change">Enter Your Email: </label>
        <input type="text" id="email_for_password_change" name="email_for_password_change_for_python" required>
    <br><br>
        <button type="submit" value="send_verification_code_to_email?" name="send_verification_code_to_email_action">Send Verification Code To This Email</button>
    </form>
</body>
</html>