<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Post</title>
</head>
<body>
<form action="/SearchPostInfo" id="Search_post_info" name="Search_post_info_for_python">
    <h1 class="title">Search For Posts!</h1>
    <p>Enter The Post Tile You Want To Search For: <input type="text" id="post_title_for_search" name="post_title_for_search_for_python" required></p>
    <p>Enter Related Tags You Want To Search For (Not Required): <input type="text" id="post_tag_for_search" name="post_tag_for_search_for_python"></p>
    <button type="submit" value="Searchpost" name="Searchpost_action">Search Post</button>
</form>
</body>
</html>