<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Verify The Verification Code</title>
</head>
<body>
    <form action="/verify_verification_code">
    <h1>The Verification Code Has Been Send To The Email</h1>
    <h1>Please Check Your Email</h1>
    <label for="confirming_verification_code">Enter The Verification Code: </label>
        <input type="text" id="confirming_verification_code" name="confirming_verification_code_for_python" required>
    <br><br>
        <button type="submit" value="verify_verification_code?" name="verify_verification_code_action">Verify</button>
    </form>
</body>
</html>